ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-color: white;
}

table {
  table-layout: fixed;
}

th {
	text-align: center;
}

th, td {
	padding: 5px;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

button, input[type=submit], input[type=reset]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

table p {
  text-align: center;
}

.container {
  padding: 16px;
  margin: auto;
  background: #5f5f5f;
  width: 50%;
  position: center;
}
.container input[type=text],p {
	position: relative;
	left: 50%;
	transform: translate(-50%, -50%); 
}

#container {
    position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#content {
	background-color:#f9f9f9;
	color:#333;
    padding: 2px;
    overflow: hidden;
}
#title {
    padding: 8px;
    text-indent: 3px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .1em;
    color:white;
    text-transform: uppercase;
    background: -webkit-linear-gradient(top,#fefefd 0,#68aa00 1%,#639e22 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefd',endColorstr='#639e22',GradientType=0);
    text-shadow: 0 -1px 0 green;
}