    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>Spring Framework Guru</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
        <link href="../static/css/sample.css"
              th:href="@{css/sample.css}" rel="stylesheet" media="screen"/>
    </head>
    <body>
    <div class="container">
        <div class="jumbotron">
            <img src="../static/images/sampleimage.jpg" width="1000"
                 th:src="@{images/sampleimage.jpg}"/>
            <h1>Hello World!</h1>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <li><a href="rolesview">Get message</a></li>
            <form action="rolesview">
            Choice: <input type="text" name="choice" /> 
            <input type="submit"/>
    </form>
        </div>
    </div>
    </body>
    </html>